body{
    height: 100%;
    margin: 0;
    
    font-family: Arial;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.background-container{
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(243, 239, 239, 0),
rgba(50, 49, 49, 0.72)),url(../proje_resimler/a3.webp);

    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.background-text{
    width: 1000px;
    
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .2); 
    border-radius: 6px;
    background-color: rgba(228, 228, 228, 0.15);
    backdrop-filter: blur(5px);

    padding: 30px 36px;
}


.background-text p{
    font-size: 30px;
    line-height: 40px;
    font-family: Arial;
    color:white;
}

.header{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-left: 12px;
    padding-right: 12px;
    box-shadow:0px 1px 5px rgba(0,0,0,0.4);
    background-color: white;

    position: fixed;
    top:20px;
    right: 0px;
    left: 0px;
    
    z-index: 200;
}

.left-section{
    display: flex;
    flex-direction: row;
    width: 260px;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    margin-right: 50px;
    margin-left: 12px;
}

.header-logo{
    height: 80px;
    width: fit-content;
}

.middle-section{
    min-width: 760px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 24px;

    margin-right: 40px;
}

.dropdown-icerik{
    background-color: white;
    min-width: 170px;
    z-index: 300;
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 6px;

    overflow: hidden; /* üzerine gelince köşeler sivrileşmesin diye */

}


.dropdown-icerik a{
    display: block; /* a normalde inline block tipinde */
    padding: 8px 6px;

    text-align: center;
    text-decoration: none;
    color: rgb(8, 79, 165);
    font-weight: bold;
    font-size: 20px;

}

/*.dropdown-content a:hover bağlantılara tıklama durumunu hedefler.
    a:hover .dropdown-content ise bağlantıların üzerine gelindiğinde içlerindeki .dropdown-content öğesini hedefler. */
.dropdown-icerik a:hover {         
    background-color: rgba(17,93,187,0.10);
    border-width: 2.5px;        
    border-color:rgb(8, 79, 165);
    border-style: solid;        
    overflow: hidden;
}

.dropdown-olacak-olan:hover .dropdown-icerik {
    display: block;
}


.home-container,
.domestic-container,
.advice-container,
.abroad-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

    white-space: nowrap; /* yazdığın kutudan çıkınca alta kaymasın aynı satırda kalsın */

    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
    color:rgb(8, 79, 165);
    background-color: white;

    border-color:rgb(8, 79, 165);
    border-style: solid;
    border-radius: 6px;
    border-width: 1.5px;

    transition: border-width 0.15s, background-color 0.15s;
    
    padding: 8px 18px;
}

.home-icon,
.domestic-icon,
.advice-icon,
.abroad-icon{
    width: 38px;
    border-radius: 16px;
    margin-right: 8px;
}

.abroad-container:hover,
.advice-container:hover,
.domestic-container:hover,
.home-container:hover{
    border-width: 2.5px;
    background-color:rgba(8,79,165,0.10);
}



@media screen and (max-width: 1000px) {

    body{
        padding-top: 80px;
    }

    .header{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
        height: 180px;
        top:0px;
    }

    .middle-section{
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        
        padding: 2px 0px;
    }

    .middle-section  a {
        font-size: 0; /* Tüm yazıları gizle */
    }


    .dropdown-icerik{
        min-width: 100px;

    }

    .dropdown-icerik a {
        font-size: initial; /* dropdown içerisindeki yazıları varsayılan boyuta getir */
        
    }

    .home-icon,
    .domestic-icon,
    .advice-icon,
    .abroad-icon  {
        display: inline-block; /* Resimleri görünür yap */
        margin-right: 0;
    }
    
}




